@using Parent_Bank.Models;
@model Parent_Bank.Models.Account
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (Account acc in ViewBag.Accounts)
        {
            <dt>
                Owner of Account
            </dt>

            <dd>
                @acc.Owner
            </dd>

            <dt>
                Recipient 
            </dt>

            <dd>
                @acc.Recepient
            </dd>

            <dt>
                Account Name
            </dt>

            <dd>
                @acc.Name
            </dd>

            <dt>
                OpenDate
            </dt>

            <dd>
                @acc.OpenDate
            </dd>

            <dt>
                Balance
            </dt>

            <dd>
                @acc.Balance
            </dd>

            <dt>
                Description
            </dt>
            
            <dt>
                Interest
            </dt>

            <dd>
                @acc.InterestRate
            </dd>
        }
    </dl>
</div>
<hr />
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (Transaction tr in ViewBag.Transactions)
        {

            <dt>
                TransactionDate
            </dt>

            <dd>
                @tr.TransactionDate
            </dd>

            <dt>
                Amount
            </dt>

            <dd>
                @tr.Amount
            </dd>

            <dt>
                Note
            </dt>

            <dd>
                @tr.Note
            </dd>
        }
    </dl>
</div>

<div>
    <h4>WishList</h4>
    <hr />
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>
                   Date of Wishlist Item
                </th>
                <th>
                    Cost of Item
                </th>
                <th>
                    Description
                </th>
                <th>
                    Link
                </th>
                <th>
                    Purchased
                </th>
            </tr>
            @foreach (Wishlist wl in ViewBag.WishLists)
            {


                <tr>
                    <td>
                        @wl.DateAdded
                    </td>

                    <td>
                        @wl.Cost
                    </td>

                    <td>
                        @wl.Description
                    </td>

                    <td>
                        @wl.Link
                    </td>

                    <td>
                        @if (@wl.purchased == true)
                        {<span>Yes</span>}
                        @if (@wl.purchased == false)
                        {<span>No</span>}
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>


